body {
    background-color: #FAD7B4;
}

/* cor de fundo do body */

.contact {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 163, 188, 1) 50%, rgba(255, 255, 255, 0) 50%);
    align-items: center;
}

/* organização dos itens com display, definição de um tamanho minimo para o conteúdo e complemento da cor de fundo */

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #BFEFFF;
    height: 600px;
}

/* tamanho cor e alinhamento bg */

h1 {
    color: rgb(227, 90, 127);
}

/* cor do titulo */

.centro {
    display: flex;

}

/*utilizei para conseguir fazer o próximo bloco de código */

.esq,
.dir {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* alinhamento dos dois itens principais no centro */

.eu {
    width: 80%;
}

/* tamanho da minha foto */

.formulario {
    display: flex;
    flex-direction: column;
}

/* display para alinhamento dos itens do form */

.nome,
.email,
.mensagem {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* alinhamento dos itens dentro do form */