:root {
    --background-color: #BFEFFF;
    --color: #010204;
}

body {
    background-color: var(--background-color)
}


.about {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 163, 188, 1) 50%);
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 120px;

}

.conteudo>p {
    font-size: 24px;
}

h1 {
    text-align: center;
    padding: 30px;
}

img {
    height: 625px;
    width: 625px;
    margin-right: 20px;
    filter: drop-shadow(17px -17px 0px #AE6276);
}

.shadow {
    filter: drop-shadow(-17px -17px 0px #AE6276);
}

.final {
    padding-bottom: 30px;
}