* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header,
footer {
    background-color: rgba(217, 217, 217, 0.2);
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.first-content {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

nav a {
    margin-left: 20px;
}

footer {
    height: 20px;
    display: flex;
    justify-content: center;
    color: #AE6276;

}